html,
body {
	margin: 10px;
	padding: 10px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 420px;
	height: 420px;
	border: 1px solid #000;
}
/* Only targeting any div that is inside the grid div */
.grid div {
	width: 15px;
	height: 15px;
}
.pac-dot {
	background: green;
	border: 5px solid white;
	/* Puts the border on inside of the square */
	box-sizing: border-box;
}

.wall {
	background: blue;
}

.power-pellet {
	background: green;
	border-radius: 7.5px;
}

.pacman {
	background: gold;
	border-radius: 7.5px;
	border: 0;
}

.blinky {
	background: red;
	border: 0;
}
.pinky {
	background: pink;
	border: 0;
}
.inky {
	background: aqua;
	border: 0;
}
.clyde {
	background: orange;
	border: 0;
}
